@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&family=Oswald:wght@200;400;600&display=swap');

:root {
  --main-dark: hsl(215, 50%, 23%);
  --main-light: hsl(105, 55%, 96%);
  --accent: hsl(355, 78%, 56%);

  --accent-opacity-5: hsl(355, 78%, 70%);


  --blue-dark: hsl(203, 39%, 44%);
  --blue-light: hsl(182, 43%, 76%);

  --color-light: var(--main-light);
  --color-dark: var(--main-dark);

  --size-1: .25rem;
  --size-2: .5rem;
  --size-3: .75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;

  --font-family-primary: 'Montserrat', sans-serif;
  --font-family-secondary: 'Oswald', sans-serif;

  --font-family-paragraph: var(--font-family-primary);
  --font-family-heading: var(--font-family-secondary);

  --font-weight-thin: 200;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --font-size-mobile-small: .8125rem;
  --font-size-mobile-semi-small: .875rem;
  --font-size-mobile-regular: 1rem;
  --font-size-mobile-semi-big: 2.2rem;
  --font-size-mobile-big: 2.5rem;

  --font-size-body: var(--font-size-mobile-regular);
  --font-size-navigation: var(--font-size-mobile-semi-small);
  --font-size-primary-heading: var(--font-size-mobile-big);
  --font-size-secondary-heading: var(--font-size-mobile-semi-big);
  --font-size-primary-button: var(--font-size-mobile-regular);

}

  @media (min-width: 50em) {
    :root {
      --font-size-small: .8125rem;
      --font-size-semi-small: .875rem;
      --font-size-regular: 1rem;
      --font-size-semi-big: 3rem;
      --font-size-big: 3.5rem;

      --font-size-body: var(--font-size-regular);
      --font-size-navigation: var(--font-size-semi-big);
      --font-size-primary-heading: var(--font-size-big);
      --font-size-secondary-heading: var(--font-size-semi-big);
      --font-size-primary-button: var(--font-size-regular);
    }
}

/* utility classes */

.fs-p-heading {
  font-size: var(--font-size-primary-heading);
  line-height: 1.1;
}

.fs-s-heading {
  font-size: var(--font-size-secondary-heading);
  line-height: 1.1;
}

.fs-p-paragraph {
  font-size: var(--font-size-body);
}

.fw-bold {
  font-weight: var(--font-weight-bold);
}

.fw-regular {
  font-weight: var(--font-weight-regular);
}

.fw-thin {
  font-weight: var(--font-weight-thin);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-light {
  background-color: var(--main-light);
}

.f-color-light {
  color: var(--main-light);
}

.f-color-dark {
  color: var(--main-dark);
}

.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.padding-block-very-small {
  padding-block: var(--size-1);
}

.padding-block-small {
  padding-block: var(--size-3);
}

.padding-block-medium {
  padding-block: var(--size-5);
}

.padding-block-big {
  padding-block: var(--size-7);
}

.padding-block-very-big {
  padding-block: var(--size-10);
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-heading);
}

p {
  font-family: var(--font-family-paragraph);
}

html,
body {
  height: 100%;
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

/* General styling */

body {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  color: var(--main-dark);
}

.graphic-right-column {
  font-size: 20rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-heading);
  line-height: var(--size-5);
}

/* button */

.regular-button {
  border: 0;
  border-radius: 100vmax;
  padding: 1em 2.5em;
  font-size: var(--font-size-primary-button);
  font-weight: var(--font-weight-bold);
  color: var(--color-light);
  background-color: var(--accent);
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 1.25em 1em -1em var(--accent-opacity-5);
}

.regular-button:hover,
.regular-button:focus-visible {
  background-color: var(--accent-opacity-5);
}
