@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&family=Oswald:wght@200;400;600&display=swap');

:root {
  --main-dark: hsl(215, 50, 23);
  --main-light: hsl(105, 55, 96);
  --accent: hsl(355, 78, 56);

  --blue-dark: hsl(203, 39, 44);
  --blue-light: hsl(182, 43, 76);

  --font-primary: 'Montserrat', sans-serif;
  --font_secondary: 'Oswald', sans-serif;

  --font-body: var(--font-primary);
  --font-heading: var(--font_secondary);

  --font-weight-thin: 200;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --font-size-mobile-small: .8125rem;
  --font-size-mobile-semi-small: .875rem;
  --font-size-mobile-normal: 1rem;
  --font-size-mobile-semi-big: 1.875rem;
  --font-size-mobile-big: 2.5rem;

  --font-size-body: var(--font-size-mobile-normal);
  --font-size-navigation: var(--font-size-mobile-semi-small);
}

  @media (min-width: 50em) {
    :root {
      --font-size-small: .8125rem;
      --font-size-semi-small: .875rem;
      --font-size-normal: 1rem;
      --font-size-semi-big: 2.5rem;
      --font-size-big: 3.5rem;

      --font-size-body: var(--font-size-normal);
      --font-size-navigation: var(--font-size-semi-big);
    }
}


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font: inherit;
}

html,
body {
  height: 100%;
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}